.register-page {
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px;

  .register-title {
    text-align: center;
    font-size: 30px;
  }

  Form {
    margin: 0 auto;
  }
}
