.search-clear-button {
  margin: 20px 0;
  width: 100%;
}

.pagination {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.user-title-header {
  display: flex;
  justify-content: space-between;

  .title-name {
    font-size: 18px;
    font-weight: bold;
  }

  .right-content {
    display: flex;
    gap: 15px;

    .icon-refresh {
      :hover {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
      }
    }
  }
}
