.product-cart-background {
  background-color: #f5f5fa;
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  padding: 0 !important;

  .product-cart-wrapper {
    margin: 20px auto;
    padding: 0 !important;

    .step-progress {
      background-color: white;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
    }

    .product-detail-wrapper {
      display: flex;
      gap: 15px;
      padding: 0 !important;
      margin-top: 30px !important;

      .product-detail-left {
        padding: 0 !important;
        .product-information {
          padding: 20px;
          display: flex;
          justify-content: space-between;
          background-color: white;
          border-radius: 10px;
          margin-bottom: 15px;
          border: 1px solid #ccc;

          .product-detail-wrap {
            display: flex;
            gap: 15px;

            .product-detail {
              .product-name {
                font-size: 16px;
                font-weight: 600;
              }

              .seller {
                margin-top: 10px;
              }

              .quantity {
                margin-top: 10px;
                display: flex;
                .update-quantity {
                  margin-left: 10px;
                  border-radius: 10px;
                  background-color: #ffcd01;
                  cursor: pointer;
                  border: 1px solid #ffcd01;
                  padding: 5px 15px;

                  &:hover {
                    opacity: 0.8;
                  }
                }
              }
              .product-quantity {
                width: 100px;
                margin-top: 10px;
              }

              .product-delete {
                color: #0087b8;
                cursor: pointer;
                margin-top: 10px;
                display: inline-block;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .product-detail-right {
        background-color: white;
        height: 100%;
        padding: 20px !important;
        flex: 1;
        border-radius: 10px;

        border: 1px solid #ccc;

        .price-calulator {
          .order-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
          }

          .price-info-text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .order-total-text {
              font-size: 18px;
              color: #b12755;
              font-weight: bold;
            }
          }

          .place-order {
            width: 100%;
            justify-content: center;
            display: flex;
            margin-top: 20px;
            button {
              width: 100%;
            }
          }
        }

        .user-information {
          .price-info-text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;

            .order-total-text {
              font-size: 18px;
              color: #b12755;
              font-weight: bold;
            }
          }

          .place-order {
            width: 100%;
            justify-content: center;
            margin-top: 20px;

            button {
              margin-bottom: 10px;
              width: 100%;
            }
          }
        }
      }
    }
  }

  .product-detail-right-vertical {
    background-color: white;

    padding: 20px !important;
    flex: 1;
    border-radius: 10px;

    border: 1px solid #ccc;

    .price-calulator {
      .order-title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .price-info-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .order-total-text {
          font-size: 18px;
          color: #b12755;
          font-weight: bold;
        }
      }

      .place-order {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-top: 20px;
        button {
          width: 100%;
        }
      }
    }

    .user-information {
      .price-info-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .order-total-text {
          font-size: 18px;
          color: #b12755;
          font-weight: bold;
        }
      }

      .place-order {
        width: 100%;
        justify-content: center;
        margin-top: 20px;

        button {
          margin-bottom: 10px;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .product-cart-background {
    .product-cart-wrapper {
      .product-detail-wrapper {
        .product-detail-left {
          .product-information {
            .product-detail-wrap {
              .product-detail {
                .quantity {
                  display: flex;
                  flex-direction: column;

                  .update-quantity {
                    display: block;
                    border-radius: 10px;
                    background-color: #ffcd01;
                    cursor: pointer;
                    border: 1px solid #ffcd01;
                    padding: 5px 15px;
                    margin-top: 10px;
                    margin-left: 0;
                    &:hover {
                      opacity: 0.8;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
