.homepage-background {
  background-color: #f5f5fa;
  padding-bottom: 20px;
  flex-grow: 1;

  .homepage-container {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    margin-top: 20px;

    .left-content {
      height: 100%;
      border-radius: 10px;
      background-color: white;
      padding: 0 10px;
      .filter-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f0f0f0;
        padding: 20px 0;
      }

      .alphabet-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }

      .price-range-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
      }
    }

    .right-content {
      padding: 0 20px !important;
      padding-bottom: 60px !important;
      border-radius: 10px;
      background-color: white;
      position: relative;

      .tab-header {
        .ant-tabs-nav {
          font-weight: bold;
        }
      }

      .product-content {
        .right-content-wrapper {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 15px;
          align-content: center;
        }
      }

      .pagination {
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
        width: 100%;
      }
    }

    .right-content-vertical {
      margin: 0 auto;
      .tab-header {
        .ant-tabs-nav {
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (min-width: 1600px) and (max-width: 2199px) {
  .homepage-background {
    background-color: #f5f5fa;

    .homepage-container {
      .right-content {
        .product-content {
          .right-content-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            align-content: center;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .homepage-background {
    background-color: #f5f5fa;

    .homepage-container {
      .right-content {
        .product-content {
          .right-content-wrapper {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            align-content: center;
          }
        }
      }
    }
  }
}

/* Large (lg) screen */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* CSS styles for large screens */
  .homepage-background {
    background-color: #f5f5fa;

    .homepage-container {
      .right-content {
        .product-content {
          .right-content-wrapper {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            align-content: center;
          }
        }
      }
    }
  }
}

/* Medium (md) screen */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* CSS styles for medium screens */
  .homepage-background {
    background-color: #f5f5fa;

    .homepage-container {
      .right-content {
        .product-content {
          .right-content-wrapper {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
            align-content: center;
          }
        }
      }
    }
  }
}

/* Small (sm) screen */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* CSS styles for small screens */
  // .homepage-background {
  //   background-color: #f5f5fa;

  //   .homepage-container {
  //     .right-content {
  //       .product-content {
  //         .right-content-wrapper {
  //           flex-grow: 1;
  //           display: grid;
  //           grid-template-columns: 1fr 1fr;
  //           grid-gap: 15px;
  //           align-content: center;
  //         }
  //       }
  //     }
  //   }
  // }
}

/* Extra small (xs) screen */
@media only screen and (min-width: 481px) and (max-width: 575px) {
  /* CSS styles for extra small screens */
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
}
