.home-header {
  padding: 5px 0;
  .home-header-container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .book-store-logo {
      cursor: pointer;
      text-align: center;
    }

    .search-bar {
      .ant-btn-primary {
        background-color: #f2c50f;
      }
    }

    .cart-icon {
      cursor: pointer;

      font-size: 30px;
      color: #cdaa1f;

      &:hover {
        text-decoration: underline;
      }
    }

    .account {
      color: rgb(128, 128, 137);
      .ant-dropdown-menu-title-content {
        a {
          color: rgb(128, 128, 137);
        }
      }
    }

    .account-login {
      color: rgb(128, 128, 137);
      text-decoration: none;
      cursor: pointer;

      a {
        all: unset;
        align-items: center;
        display: flex;

        .face-icon {
          font-size: 30px;
          color: #cdaa1f;
          margin-right: 5px;
          font-weight: bold;
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }

    .support {
      cursor: pointer;

      .support-wrap {
        display: flex;
        align-items: center;
        .support-icon {
          font-size: 30px;
          color: #cdaa1f;
        }
        p {
          margin-left: 5px;
          color: rgb(128, 128, 137);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
