.home-footer {
  background-color: #ffcd00;
  padding: 10px 0;

  .home-footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    p {
      justify-content: center;
      font-size: 12px;
      line-height: 40px;
    }

    a {
      font-size: 40px;
      color: black;
    }
  }
}
